<% include ./shared/header.ejs %>
<body>
    <% include ./shared/navbar.ejs %>
    <section class="section">
        <div class="columns">
            <div class="column">
                <div data-id="listaPerguntas"></div>
            </div>
        </div>
    </section>
    <% include ./shared/footer.ejs %>
</body>
</html>