<% include ./shared/header.ejs %>
<body>
    <% include ./shared/navbar.ejs %>
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active" data-tab-target="[data-tab-id='tabGeral']"><a>Geral</a></li>
                        <li data-tab-target="[data-tab-id='tabPerguntas']"><a>Perguntas</a></li>
                        <li data-tab-target="[data-tab-id='tabAvancado']"><a>Avançado</a></li>
                    </ul>
                </div>
                <div class="box" data-tab-id="tabGeral">
                    <div class="columns">
                        <div class="column">
                            <p><b>Nome do Projeto:</b> <span class="nome"></span></p>
                            <p><b>Contato Principal:</b> <span class="contato"></span></p>
                            <p><b>Status do Projeto:</b> <span class="status"></span></p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <div class="has-text-centered">
                                    <h3 class="subtitle">Principais dimensões do projeto</h3>
                                </div>
                                <div class="columns">
                                    <div class="column listDimensoesCategorias">
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ativos e Devices</span>
                                            <span>2,48</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Comunicação e Conectividade</span>
                                            <span>2,00</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Serviços de Backend</span>
                                            <span>3,25</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Padrões e Requerimentos regulatórios</span>
                                            <span>1,92</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ambiente de Projeto</span>
                                            <span>2,25</span>
                                        </p>
                                        <hr style="margin: 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box has-text-centered">
                                <h3 class="subtitle nome"></h3>
                                <canvas data-id="graficoProjetos"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <h3 class="subtitle">Dimensões do Projeto</h3>
                                <div class="columns">
                                    <!--div class="column listDimensoesCategorias">
                                        <div class="listTemplate">
                                            <p class="titleTemplate">
                                                <span><i class="fas fa-angle-down"></i> Ativos e Devices</span>
                                                <span>2,48</span>
                                            </p>
                                            <div>
                                                <b>
                                                    <span><i class="fas fa-angle-right"></i> Geral</span>
                                                    <span>2,48</span>
                                                </b>
                                                <hr class="no-margin">
                                                <div class="collapse" style="display: flex; justify-content: space-between">
                                                    <span style="width: 35%;">Número de Ativos</span>
                                                    <input class="input is-small" type="number" min="0" max="4" value="0" style="text-align: right; width: 20%;" />
                                                    <span style="width: 45%;">100s</span>
                                                    <i class="fas fa-comments"></i>
                                                </div>
                                                <hr class="no-margin">
                                            </div>
                                            <div>
                                                <b>
                                                    <span><i class="fas fa-angle-down"></i> Poder de Processamento</span>
                                                    <span>2,48</span>
                                                </b>
                                                <hr class="no-margin">
                                                <div style="display: flex; justify-content: space-between">
                                                    <span style="width: 35%;">Lógica de Negócio Local</span>
                                                    <input class="input is-small" type="number" min="0" max="4" value="0" style="text-align: right; width: 20%;" />
                                                    <span style="width: 45%;">Lógica básica de armazenamento e encaminhamento para tratar a Indisponibilidade temporária da Rede</span>
                                                    <i class="fas fa-comments"></i>
                                                </div>
                                                <hr class="no-margin">
                                                <div style="display: flex; justify-content: space-between">
                                                    <span style="width: 35%;">Lógica de Negócio Local</span>
                                                    <input class="input is-small" type="number" min="0" max="4" value="0" style="text-align: right; width: 20%;" />
                                                    <span style="width: 45%;">Lógica básica de armazenamento e encaminhamento para tratar a Indisponibilidade temporária da Rede</span>
                                                    <i class="fas fa-comments"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listTemplate">
                                            <p class="titleTemplate">
                                                <span><i class="fas fa-angle-right"></i> Ativos e Devices</span>
                                                <span>2,48</span>
                                            </p>
                                            <div class="collapse">
                                                <b>
                                                    <span><i class="fas fa-angle-down"></i> Geral</span>
                                                    <span>2,48</span>
                                                </b>
                                                <hr class="no-margin">
                                                <div style="display: flex; justify-content: space-between">
                                                    <span style="width: 35%;">Número de Ativos</span>
                                                    <input class="input is-small" type="number" min="0" max="4" value="0" style="text-align: right; width: 20%;" />
                                                    <span style="width: 45%;">100s</span>
                                                    <i class="fas fa-comments"></i>
                                                </div>
                                                <hr class="no-margin">
                                            </div>
                                            <div class="collapse">
                                                <b>
                                                    <span><i class="fas fa-angle-down"></i> Poder de Processamento</span>
                                                    <span>2,48</span>
                                                </b>
                                                <hr class="no-margin">
                                                <div style="display: flex; justify-content: space-between">
                                                    <span style="width: 35%;">Lógica de Negócio Local</span>
                                                    <input class="input is-small" type="number" min="0" max="4" value="0" style="text-align: right; width: 20%;" />
                                                    <span style="width: 45%;">Lógica básica de armazenamento e encaminhamento para tratar a Indisponibilidade temporária da Rede</span>
                                                    <i class="fas fa-comments"></i>
                                                </div>
                                                <hr class="no-margin">
                                                <div style="display: flex; justify-content: space-between">
                                                    <span style="width: 35%;">Lógica de Negócio Local</span>
                                                    <input class="input is-small" type="number" min="0" max="4" value="0" style="text-align: right; width: 20%;" />
                                                    <span style="width: 45%;">Lógica básica de armazenamento e encaminhamento para tratar a Indisponibilidade temporária da Rede</span>
                                                    <i class="fas fa-comments"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div-->
                                    <div class="column" data-id="listaDimensoes"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" data-tab-id="tabPerguntas" style="display: none;">
                    <div data-id="perguntas"></div>
                </div>
                <div class="box" data-tab-id="tabAvancado" style="display: none;">
                    Hello, World 2!
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/plugins/momentjs/moment.min.js"></script>
    <script type="text/javascript" src="/plugins/chartjs/chart.min.js"></script>
    <% include ./shared/footer.ejs %>
</body>
</html>