<% include ./shared/header.ejs %>
<body>
    <% include ./shared/navbar.ejs %>
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active" data-tab-target="[data-tab-id='tabGeral']"><a>Geral</a></li>
                        <li><a>Perguntas</a></li>
                        <li><a>Avançado</a></li>
                    </ul>
                </div>
                <div class="box" data-tab-id="tabGeral">
                    <div class="columns">
                        <div class="column">
                            <p><b>Nome do Projeto:</b> <span>Track & Trace</span></p>
                            <p><b>Contato Principal:</b> <span>Dirk Slama</span></p>
                            <p><b>Status do Projeto:</b> <span>Desenvolvimento</span></p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <div class="has-text-centered">
                                    <h3 class="subtitle">Principais dimensões do projeto</h3>
                                </div>
                                <div class="columns">
                                    <div class="column listDimensoesCategorias">
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ativos e Devices</span>
                                            <span>2,48</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Comunicação e Conectividade</span>
                                            <span>2,00</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Serviços de Backend</span>
                                            <span>3,25</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Padrões e Requerimentos regulatórios</span>
                                            <span>1,92</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ambiente de Projeto</span>
                                            <span>2,25</span>
                                        </p>
                                        <hr style="margin: 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box has-text-centered">
                                <h3 class="subtitle">Track & Trace</h3>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <h3 class="subtitle">Dimensões do Projeto</h3>
                                <div class="columns">
                                    <div class="column listDimensoesCategorias">
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ativos e Devices</span>
                                            <span>2,48</span>
                                        </p>
                                        <div style="padding: 0 15px; border-bottom: 1px solid #ccc;">
                                            <span>elemento1</span>
                                        </div>
                                        <div style="padding: 0 45px;">
                                            <span>elemento1.1</span>
                                        </div>
                                        <div style="padding: 0 45px; border-bottom: 1px solid #ccc;">
                                            <span>elemento1.3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include ./shared/footer.ejs %>
</body>
</html>