<% include ./shared/header.ejs %>
<body>
    <% include ./shared/navbar.ejs %>
    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="tabs">
                    <ul>
                        <li class="is-active" data-tab-target="[data-tab-id='tabGeral']"><a>Geral</a></li>
                        <li data-tab-target="[data-tab-id='tabPerguntas']"><a>Perguntas</a></li>
                    </ul>
                </div>
                <div class="box" data-tab-id="tabGeral">
                    <div class="columns">
                        <div class="column">
                            <p><b>Nome do Projeto:</b> <span class="nome"></span></p>
                            <p><b>Contato Principal:</b> <span class="contato"></span></p>
                            <p><b>Status do Projeto:</b> <span class="descricao"></span></p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <div class="has-text-centered">
                                    <h3 class="subtitle">Principais dimensões do projeto</h3>
                                </div>
                                <div class="columns">
                                    <div class="column listDimensoesCategorias" data-id="chartInfo">
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ativos e Devices</span>
                                            <span>2,48</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Comunicação e Conectividade</span>
                                            <span>2,00</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Serviços de Backend</span>
                                            <span>3,25</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Padrões e Requerimentos regulatórios</span>
                                            <span>1,92</span>
                                        </p>
                                        <hr style="margin: 0;">
                                        <p>
                                            <span>Ambiente de Projeto</span>
                                            <span>2,25</span>
                                        </p>
                                        <hr style="margin: 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box has-text-centered">
                                <h3 class="subtitle nome"></h3>
                                <canvas data-id="graficoProjetos"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <h3 class="subtitle">Dimensões do Projeto</h3>
                                <div class="columns">
                                    <div class="column" data-id="listaDimensoes"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" data-tab-id="tabPerguntas" style="display: none;">
                    <div data-id="perguntas"></div>
                </div>
                <div class="box" data-tab-id="tabAvancado" style="display: none;">
                    Hello, World 2!
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/plugins/momentjs/moment.min.js"></script>
    <script type="text/javascript" src="/plugins/chartjs/chart.min.js"></script>
    <% include ./shared/footer.ejs %>
</body>
</html>