<% include ./shared/header.ejs %>
<body>
    <% include ./shared/navbar.ejs %>
    <section class="section">
        <div class="container">
            <h1 class="title">Teste</h1>
            <h2 class="subtitle">Subtitle</h2>
        </div>
    </section>
    <% include ./shared/footer.ejs %>
</body>
</html>