.listProjetos .titleProjeto {
  display: flex;
  justify-content: space-between;
}

.listProjetos .titleProjeto *:last-child {
  text-align: right;
}

.listProjetos .boxProjetos {
  border: 1px solid #ccc;
  border-radius: 16px;
  cursor: pointer;
  padding: 16px;
  margin-bottom: 15px;
}

.listProjetos .boxProjetos:hover {
  border-color: #3273dc;
  cursor: pointer;
}

.listDimensoesCategorias p {
  display: flex;
  justify-content: space-between;
}

.listDimensoesCategorias p:hover {
  background-color: #cecece;
}